@media (min-width:1200px) {
  .header {
    width: 1120px;
    gap: 360px;
    margin: 0 auto;
    margin-top: 72px;
  }

  .link {
    font-size: 24px;
    line-height: 29px;
  }

  .menu {
    display: none;
  }
}

@media (max-width:1200px) {
  .header {
    width: 681px;
    gap: 160px;
    margin: 0 auto;
    margin-top: 36px;
  }

  .link {
    font-size: 20px;
    line-height: 24px;
  }

  .menu {
    display: none;
  }
}

@media (max-width:768px) {
  .header {
    width: 80%;
    min-width: 320px;
    justify-content: space-between;
    gap: 0px;
    display: flex;
    margin: 0 auto;
    margin-top: 41px;
  }

  .link {
    display: none;
  }

  .menu {
    display: flex;
  }

  .lang_close {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  transition: all 1s;

}

.link {
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;

  color: #272727;
}

.link:hover {
  opacity: 70%;
}

.logo {
  cursor: pointer;
  width: 158px;
  height: 44px;
  transition: all 0.1s;
}

.logo:hover {
  width: 160px;
  height: 46px;
}

.logo_close {
  display: none;
}



.lang_open {
  display: flex;
}

.menu {
  background-color: transparent;
  border: none;
}

.menu_open {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E8E8E8;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  align-items: center;
  gap: 94px;
  transition: background 1s;
  z-index: 1000;
}

.menu_link {
  display: none;
}

.menu_link_open {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
  transition: color 0.5s;
}

.menu_icon_container {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.menu_icon {
  width: 25px;
  height: 24px;
  transition: all 0.5s;
}

.menu_icon:hover {
  opacity: 90%;
}

.menu_icon_rotate {
  transform: rotate(90deg);
}