@media (min-width:1200px) {
  .block_container {
    width: 880px;
    height: fit-content;
    gap: 160px;
  }

  .left {
    flex-direction: row;
  }

  .right {
    flex-direction: row-reverse;
  }

  .title_container {
    height: 100%;
    width: 520px;
  }

  .h2_title {
    font-size: 32px;
    line-height: 39px;
  }

  .h3_title {
    font-size: 24px;
    line-height: 29px;
  }

  .block_icon {
    width: 200px;
    height: 200px;
  }


}

@media (max-width:1200px) {


  .block_container {
    width: 680px;
    height: fit-content;
    gap: 40px;
  }

  .left {
    flex-direction: row;
  }

  .right {
    flex-direction: row-reverse;
  }

  .title_container {
    height: 100%;
    width: 490px;
  }

  .h2_title {
    font-size: 24px;
    line-height: 29px;
  }

  .h3_title {
    font-size: 20px;
    line-height: 24px;
  }

  .block_icon {
    width: 150px;
    height: 150px;
  }
}

@media (max-width:768px) {
  .block_container {
    flex-direction: column;
    width: 320px;
    height: fit-content;
    gap: 40px;
  }

  .title_container {
    height: 100%;
    width: 320px;
  }

  .h2_title {
    font-size: 24px;
    line-height: 29px;
  }

  .h3_title {
    font-size: 20px;
    line-height: 24px;
  }

  .block_icon {
    width: 150px;
    height: 150px;
  }
}

.block_container {
  display: flex;
  margin: 0 auto;
  align-items: center;
}



.title_container {
  display: flex;
  flex-direction: column;
}

.h2_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.h3_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}