@media (min-width:1200px) {
  .block_container {
    flex-direction: row;
    width: 1100px;
    height: fit-content;
    justify-content: center;
    gap: 240px;
  }

  .title_container {
    height: 100%;
    width: 300px;
  }

  .h2_title {
    font-size: 32px;
    line-height: 39px;
  }

  .h3_title {
    font-size: 32px;
    line-height: 39px;
  }

  .block_icon {
    width: 570px;
  }
}

@media (max-width:1200px) {


  .block_container {
    flex-direction: row;
    width: 680px;
    height: fit-content;
    gap: 40px;
    justify-content: center;
  }


  .title_container {
    height: 100%;
    width: 233px;
  }

  .h2_title {
    font-size: 24px;
    line-height: 29px;
  }

  .h3_title {
    font-size: 24px;
    line-height: 29px;
  }

  .block_icon {
    width: 300px;
  }
}

@media (max-width:768px) {
  .block_container {
    flex-direction: column;
    width: 320px;
    height: fit-content;
    gap: 40px;
  }

  .title_container {
    height: 100%;
    width: 142px;
  }

  .h2_title {
    font-size: 24px;
    line-height: 29px;
  }

  .h3_title {
    font-size: 20px;
    line-height: 24px;
  }

  .block_icon {
    width: 300px;
  }

}

.block_container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 120px;
}



.title_container {
  display: flex;
  flex-direction: column;
}

.h2_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.h3_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;


  color: #000000;

}