.button {
  cursor: pointer;
  display: flex;
  width: 123px;
  height: 56px;
  background-color: transparent;
  border: 2px solid #272727;
  border-radius: 20px;
  padding: 16px 24px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

.button:hover {
  width: 125px;
  height: 58px;
}

.btn_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #272727;
}

.btn_icon {
  width: 24px;
  height: 24px;
}